body {
    background-color: #000000;
    font-family: 'PT Serif', serif;
}

.container {
    background-color: white;
    font-size: large;
}

.container .jumbotron {
    border-radius: 0;
    padding-right: 100px;
}

.header {
    padding-left: 0;
    padding-right: 0;
}

.content {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
}

.jumbotron {
    color: white;
    text-align: right;
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    height: 330px;
}

.jumbotron h1 {
    font-size: 2.6em;
    line-height: 1.2em;
    font-weight: bolder;
}

.navbar {
    margin-top: -30px;
    background-color: #eeeeee;
    border: none;
    border-radius: 0px;
}

.navbar-nav {
    margin-left: 100px;
}

/** Prevent nav bar from breaking to new line */
.navbar-nav > li {
    float: left!important;
}

.nav > li > a {
    padding-left: 0;
}

.nav > li > a:focus {
    outline: none;
}

h1 {
    font-size: 2.6em;
    line-height: 1.2em;
    font-weight: bolder;
}

code {
    color: darkslategrey;
    background-color: #eeeeee;
    border: 1px solid #DDD;
    border-radius: 0.2em;
    padding: 2px 0 2px 0;
}

.info {
    text-transform: uppercase;
    font-family: "PT Sans", serif;
    color: darkgrey;
}

.reading-time {
    display: inline;
    float: right;
}

blockquote {
    color: darkgrey;
    font-style: italic;
}

pre {
    padding: 0;
    border: none;
    border-radius: 0;
}

div.sourceCode {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.footer {
    padding-top: 10px;
    padding-right: 100px;
    background-color: #eeeeee;
    text-align: right;
    margin-bottom: 20px;
    font-family: "PT Sans", serif;
    color: darkgrey;
}

h2 {
    font-weight: bold;
}

img.about {
    padding-left: 10px;
    padding-right: 10px;
    width: 100px;
}

table.about td {
    font-size: large;
    vertical-align: top;
}

hr {
    clear:      both;
    margin:     50px 0;
}

.index-footer {
    display: block;
    padding-bottom: 30px;
    font-family: "PT Sans", serif;
    color: darkgrey;
}

code {
    min-width: 800px;
    overflow: scroll;
}

/** Don't waste horizontal padding space on small phone screens */
@media (max-width: 979px) {

    .container .jumbotron {
        width: 100%;
        padding-right: 10px;
    }

    .navbar-nav {
        margin-left: 10px;
    }

    .content {
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer {
        padding-right: 10px;
    }

}