<h1>About</h1>
<h2 class="about">Me</h2>
<table class="about">
    <tr>
        <td>Java & Scala software craftswoman, mother of two, mountain biker, dog person, guitar player, karate newbie &mdash;
            specialization is for insects.<br/><br/>Living in Bennwil, Switzerland.</td>
        <td><img class="about" src="/images/rahel.jpg"/></td>
    </tr>
</table>
<h2 class="about">The Banner</h2>
<p>
The picture shows <a href="https://en.wikipedia.org/wiki/Lago_Bianco">Lago Bianco</a> at the top of Bernina Pass, Switzerland.
I took the shot in summer 2012, during our stay in Val Poschiavo, one of the most beautiful places on earth.
</p>
<br/>
<p>
<a href="https://twitter.com/netzwerg999" class="twitter-follow-button" data-show-count="false">Follow @netzwerg999</a>
<script>!function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
    if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = p + '://platform.twitter.com/widgets.js';
        fjs.parentNode.insertBefore(js, fjs);
    }
}(document, 'script', 'twitter-wjs');</script>
<iframe src="https://ghbtns.com/github-btn.html?user=netzwerg&type=follow&count=false" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
</p>
